@model Dictionary<string, CulturallyHistoricalObjectsWebApp.Models.ClosestDTO>

@{
    ViewBag.Title = "FindClosest";
}

<style>
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    th {
        background-color: #f2f2f2;
    }

    tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    tr:hover {
        background-color: #f1f1f1;
    }
</style>

<h2>All objects</h2>

<table>
    <thead>
        <tr>
            <th>Type</th>
            <th>Name</th>
            <th>Distance</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var kvp in Model)
        {
            <tr>
                <td>@kvp.Key</td>
                <td>@kvp.Value.HistoricalCulturalObjects.name</td>
                <td>@kvp.Value.distance km</td>
            </tr>
        }
    </tbody>
</table>
