@model CulturallyHistoricalObjectsWebApp.Models.FilterDTO

@{
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    <title>UserLocation</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            // Get user's location
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var latitude = position.coords.latitude;
                    var longitude = position.coords.longitude;

                    // Update the form fields
                    $('#userLatitude').val(latitude);
                    $('#userLongitude').val(longitude);

                    // Submit the form automatically
                    $('form').submit();

                    $('#loader').hide();

                });
            } else {
                alert('Geolocation is not supported by this browser.');
            }
        });
    </script>
</head>
<body>
    <h2>In few seconds you'll be redirected to Find Closest!'</h2>
    @using (Html.BeginForm("FindClosest", "HistoricalCulturalObjects", FormMethod.Post, new { id = "locationForm" }))
    {
        @Html.HiddenFor(model => model.userLatitude, new { id = "userLatitude" })
        @Html.HiddenFor(model => model.userLongitude, new { id = "userLongitude" })
    }
</body>
</html>
<!--a pocinjam app od UserLocation so e html-ot, pa zatoa od tuka ce se podigne od vaa akcija-->